raku/.precomp/*
lib/.precomp/*
**/.precomp/*


# Added by cargo

target/
vendor/
target/**
vendor/**
*/target/**
*/vendor/**
/target
/*/target/*
/vendor
/.cargo
Cargo.lock
/txt
/t
/raku/antlr-actions-perl6.rakumod
/raku/antlr-grammar-parser.rakumod
/raku/antlr-grammar.rakumod
/u/ARM*
ra_log.txt
