[submodule "rust-analyzer"]
	path = rust-analyzer
	url = https://github.com/klebz/rust-analyzer
[submodule "rust-tools.nvim"]
	path = rust-tools.nvim
	url = https://github.com/klebz/rust-tools.nvim
[submodule "hotlib"]
	path = hotlib
	url = https://github.com/klebz/hotlib
